.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleSection {
    font-size: 36px;
    font-weight: 800;
    font-family: var(--font-darker-grotesque);

    color: var(--color-primary-dark);
    padding-bottom: 12px;
    border-bottom: 2px solid var(--color-primary-dark);
}