
.btnsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.caseCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 70%;

    padding: 12px;
    
    background: linear-gradient(
        90deg,
        var(--color-primary-dark) 0%,
        var(--color-primary) 50%,
        var(--color-primary-light) 100%
    );
    background-size: 200% 100%;
    background-position: right center;
    
    color: #ffffff;
    font-size: 16px;
    font-family: var(--font-roboto);
    font-weight: 500;

    border: none;
    border-radius: 8px;

    
    cursor: pointer;
    transition: all 0.5s ease;


    &:hover {
        background-position: left center;
        transform: scale(1.1);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}