
/* Estilização semelhante para Componentes dinâmicos de DinamicContent */
.caseBlockSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 50px 30px;
    width: 70%;

    border: 1px solid var(--color-neutral-light);
    border-radius: 10px;
    background-color: var(--color-neutral-light);

    animation: entradaContent 0.8s ease-out both
}

@keyframes entradaContent {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.newsCarrosselDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.infoGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.infoTitle {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-roboto);
    color: var(--color-primary-dark);
}

.infoText {
    font-size: 16px;
    font-family: var(--font-roboto);
    color: var(--color-neutral);
}

